:root {
    --color-blue: #76c9e2;
}

nav ul {
    background-color: var(--color-blue);
    margin: 0;
    padding: 10px;
}

nav li {
    display: inline-block;
    width: 100px;
}

nav li:not(:first-child) {
    margin-left: 10px;
}

nav button {
    border: 0;
    background-color: #fff;
    width: 100%;
    height: 30px;
}